.idea/*
.docker.env
plugins/*
userdata/*
eiger.config
eiger.aliases

!userdata/.gitkeep
!plugins/composer
!plugins/docker
!plugins/dockerenv
!plugins/init
!plugins/node
!plugins/template
!plugins/exec
!plugins/terraform
!plugins/aws
!plugins/mysql
!plugins/kubectl
!plugins/helm