.idea/*
.docker.env
plugins/*
eiger.config

!plugins/composer
!plugins/docker
!plugins/dockerenv
!plugins/init
!plugins/node
!plugins/template
!plugins/exec
!plugins/terraform
!plugins/aws
!plugins/mysql
!plugins/kubectl