.idea/*
.docker.env
plugins/*
userdata/*
bin/*
eiger.config
eiger.aliases

!bin/eiger
!userdata/.gitkeep
!plugins/composer
!plugins/docker
!plugins/dockerenv
!plugins/init
!plugins/node
!plugins/template
!plugins/exec
!plugins/terraform
!plugins/aws
!plugins/mysql
!plugins/kubectl
!plugins/helm
!plugins/yarn
!plugins/npm